body {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
  background-color: bisque;
}
.topdiv {
  width: 100%;
  height: 3vh;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: white;
  font-size: medium;
  align-items: center;
}
.topdiv a {
  padding-right: 5vw;
  color: white;
  text-decoration: none;
}
.navcontainer > nav > ul {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  height: 7vh;
  list-style-type: none;
  margin-top: 0vh;
  position: relative;
  flex-wrap: wrap;
  font-size: 1.5vw;
}
nav > ul > li {
  /* padding-top: 1vh; */
  align-content: center;
  padding-left: 4vw;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: azure;
}
.logocontainer {
  width: 15vw;
  height: 15vw;
  background-color: aqua;
  margin: auto;
  position: relative;
}
.logocontainer > img {
  width: 15vw;
  height: 15vw;
}
h1 {
  text-align: center;
  color: rgb(42, 91, 165);
  text-decoration: underline;
  font-size: 3vw;
}
.clouserdiv {
  width: 80vw;
  height: 40vh;
  border: 0.1vw solid red;
  margin: auto;
}
.aboutcontainer {
  display: flex;
  flex-direction: row;
  width: 87vw;
  height: 60vh;
  border: 1vw solid rgb(230, 137, 31);
  margin: auto;
  margin-top: 1vh;
}
.firmimage {
  width: 30vw;
  height: 60vh;
  background-color: aqua;
}
.firmimage > img {
  width: 30vw;
  height: 60vh;
}
.aboutfirm {
  width: 57vw;
  height: 60vh;
  background-color: white;
}
#aboutfirmid > h2 {
  text-decoration: underline;
  text-align: center;
  color: rgb(42, 91, 165);
}
#aboutfirmid > p {
  text-align: justify;
  padding: 3vw;
  padding-top: 0.8vh;
  /* font-size: 1.2vw; */
}
.clientdiv {
  margin: auto;
  margin-top: 10vh;
}
#clientid > h2 {
  text-align: center;
  color: rgb(47, 47, 169);
}
table,
td {
  border: 0.2vw solid rgb(47, 47, 169);
  border-collapse: collapse;
  margin: auto;
  color: white;
  background-color: rgb(255, 154, 38);
  padding: 1vw;
}
.companydata {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 20vh;
  margin: auto;
  margin-top: 4vh;
}
.companydata > div {
  background-color: blue;
  width: 10vw;
  height: 20vh;
  border: 0.1vw solid white;
  align-content: center;
  border-radius: 1vw;
}
#companydataicon {
  color: yellow;
}
.companydata > div > p {
  text-align: center;
}
.plantimage {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5vh;
  width: 90vw;
  height: 40vh;
}
.plantimage > div {
  margin: auto;
  width: 30vw;
  height: 40vh;
}
.plantimage > div > img {
  width: 28vw;
  height: 38vh;
  margin: auto;
  border-radius: 0.8vw;
}
.lastcontainer {
  width: 100vw;
  height: 60vh;
  background-color: rgb(40, 5, 5);
  display: flex;
  flex-direction: row;
  border-radius: 0.3vw;
  margin-bottom: -2vh;
}

.lastcontainer > .about {
  width: 35vw;
  height: 40vh;
  margin: auto;
  border-right: 0.2vw solid white;
}

.contact > h1 {
  text-align: center;
}

.contactus {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 40vh;
  margin: auto;
}

.contactus > .googlemap {
  width: 20vw;
  height: 20vh;
  margin: auto;
  padding: 2vw;
  padding-top: 0vh;
}
.contactus > .contactcontent {
  width: 45vw;
  height: 20vh;
  margin: auto;
  padding: 3vw;
}
.contactcontent > div {
  padding-top: 3vh;
}
.lastcontainer > div > h1 {
  text-align: center;
  color: white;
}
.lastcontainer > div > p {
  text-align: justify;
  color: white;
  padding: 2vw;
  padding-top: 0.3vw;
}
#location {
  color: red;
}
#call {
  color: green;
}
#email {
  color: darkred;
}
#website {
  color: white;
}
.copy {
  width: 100%;
  height: 2.7vh;
  background-color: aqua;
  margin-top: 0;
}
.copy > p {
  text-align: center;
  font-size: smaller;
}

@media (max-width: 500px) {
  .topdiv {
    font-size: small;
    justify-content: center;
  }
  .navcontainer > nav > ul > li {
    display: none;
  }
  .aboutcontainer {
    height: 120vh;
    width: 70vw;
    flex-direction: column;
  }
  .firmimage {
    width: 70vw;
    height: 40vh;
  }
  .firmimage > img {
    width: 70vw;
    height: 40vh;
  }
  .aboutfirm {
    width: 70vw;
    height: 80vh;
  }
  .aboutfirm > p {
    font-size: 3vw;
  }
  .clientdiv {
    display: none;
  }
  .companydata {
    flex-direction: column;
    height: 80vh;
  }
  .companydata > div {
    width: 40vw;
  }
  .plantimage {
    flex-direction: column;
    height: 120vh;
    width: 70vw;
  }
  .plantimage > div {
    width: 70vw;
  }
  .plantimage > div > img {
    width: 70vw;
  }
  .lastcontainer {
    height: 150vh;
    width: 100%;
    flex-direction: column;
  }
  .lastcontainer > .about {
    border-right: none;
    border-bottom: 0.3vw solid white;
    margin-top: 1.5vh;
    height: 50vh;
    width: 80vw;
  }
  .contact {
    height: 80vh;
  }
  .contactus {
    flex-direction: column;
    height: 70vh;
    width: 90vw;
  }

  .contactus > .googlemap {
    height: 30vh;
    width: 70vw;
  }

  #cont {
    height: 30vh;
    width: 80vw;
  }
  .contactcontent > div {
    font-size: small;
    height: 2.5vh;
  }

  .copy p {
    font-size: x-small;
    text-align: center;
    margin-top: 2vh;
  }
}
